.profile {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.profile-upperhalf {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-around;
}

.profile-img > img {
  width: 120px;
  height: 120px;
  overflow: hidden;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 100%;
}

.userInfo {
  margin-top: auto;
  margin-bottom: auto;
}

.rating-container {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 15px;
}

.profile-lowerhalf > h1 {
  padding: 20px;
}
